Package: com.antique.instaback
Name: InstaBack
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Bring back Instagram likes
Maintainer: Antique <official.antique@gmail.com>
Author: Antique <official.antique@gmail.com>
Section: Tweaks
